<div>
    <div class="container">
        <div class="jumbotron">
            <h1 ng-bind="mc.pageName"></h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more (or not...)</a></p>
        </div>

        <ul>
            <message-with-snake-case ng-repeat="message in mc.messages" text="message.text"></message-with-snake-case>
        </ul>

        <button ng-click="mc.populate()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Populate
        </button>
    </div>
</div>